torch==2.1.0 --index-url https://download.pytorch.org/whl/cpu
langchain==0.2.14
langchain-community==0.2.12
langchain-huggingface==0.0.3
langchain-chroma==0.1.2
langchain-groq==0.1.9
python-dotenv==1.0.1
sentence-transformers==3.0.1
chromadb==0.5.3
fastapi==0.115.0
uvicorn==0.30.0
pydantic==2.7.0
